.catalog {
	padding-bottom: 90px;
	&__slider {
		width: 290px;
		// height: 450px;
		}
	&__slide {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 20px auto;
		width: 228px;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0px 8px 19px rgba(#000, 0.18);
		&-bonus {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 42px;
			height: 42px;
			right: 16px;
			top: 16px;
			border-radius: 50%;
			background-color: #e24d3c;
			box-shadow: 0 7px 10px rgba(#000, 0.39);
			font-size: 13px;
			font-weight: bold;
			color: #fff;
			& img {
				width: 20px !important;
				height: 26px;
			}
		}
		&-name {
			margin-top: 20px;
			margin-bottom: 20px;
			font-size: 20px;
			line-height: 24px;
			font-weight: bold;
		}
		&-info {
			display: flex;
			justify-content: center;
			align-items: baseline;
			margin-bottom: 20px;
			width: 170px;
			height: 16px;
			& p {
				margin: 0;
				padding: 0 6px;
				height: 15px;
				font-size: 12px;
				line-height: 14px;
				border-right: 1px solid #000;
			}
			& p:last-of-type {
				border: none;
			}
		}
		&-cost {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			width: 195px;
		}
		&-price {
			margin: 0;
			font-family: 'Roboto Slab', serif;
			font-size: 22px;
			line-height: 24px;
			font-weight: bold;
		}
		&-select {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 65px;
			&-button {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				width: 15px;
				height: 15px;
				background-color: transparent;
				border: 1px solid #8d8d8d;
				border-radius: 50%;
				font-size: 12px;
				line-height: 12px;
				color: #8d8d8d;
			}
			& p {
				font-size: 13px;
			}
		}
		&-button {
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			margin-bottom: 30px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 14px;
			& p {
				margin: 0;
				margin-right: 25px;
			}
			& span {
				display: inline-block;
				width: 22px;
				height: 20px;
				background: url('../img/icons/shopping-cart-white.png') center no-repeat;
			}
		}
		&-extra {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			width: 195px;
			& label {
				font-size: 12px;
			}
			& input {
				padding: 5px 20px 5px 5px;
				width: 16px;
				border: none;
				border-radius: 4px;
				background-color: #f2f2f2;
			}
			&-button {
				width: 19px;
				height: 19px;
				border: none;
				border-radius: 3px;
				cursor: pointer;
				background-color: #fd4f10;
				color: #fff;
			}
			& select {
				width: 100%;
				background-color: #f2f2f2;
				padding-top: 6px;
				padding-bottom: 5px;
				padding-left: 15px;
				border: none;
				border-radius: 4px;
			}
		}
	}
	&__set {
		&-title {
			margin-bottom: 24px;
			padding-top: 40px;
		}
	}
	&__roll {
		&-title {
			padding-top: 20px;
		}
	}
	&__pizza {
		&-title {
			padding-top: 20px;
			& span {
				padding: 0;
			}
		}
	}
	&__wok {
		&-slider {
			height: 520px;
		}
		&-slide {
			& .catalog__slide-cost {
				margin-bottom: 15px;
			}
		}
	}
}







@media (min-width: #{$tablet-width}) {
	.catalog {
		&__slider {
			width: 720px;
		}
		&__slide {
			width: 220px;
		}

		&__roll {
			&-title {
				padding-top: 55px;
			}
		}
		&__pizza {
			&-title {
				padding-top: 55px;
			}
		}
		&__wok {
			&-title {
				padding-top: 55px;
			}
		}
	}

	.owl-carousel {
	& .owl-dots {
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: center;
		bottom: -50px;
		left: 50%;
		margin-left: -65px;
		width: 130px;
		height: 10px;
	}
	& .owl-dot {
		width: 8px;
		height: 8px;
		background-color: #b3b3b3 !important;
		border: 2px solid #b3b3b3;
		border-radius: 50%;
		&.active {
			background-color: $color-green;
			border: 2px solid $color-green;
		}
	}
		& .owl-nav button.owl-prev {
			position: absolute;
			bottom: -54px;
			left: 50%;
			margin-left: -130px;
			width: 27px;
			height: 20px;
			background:url('../img/icons/catalog-arrow.jpg') center no-repeat;
			transform: rotate(180deg);
		}
		& .owl-nav button.owl-next {
			position: absolute;
			bottom: -54px;
			left: 50%;
			margin-left: 103px;
			width: 27px;
			height: 20px;
			background:url('../img/icons/catalog-arrow.jpg') center no-repeat;
			
		}
	}
}





@media (min-width: #{$desktop-width}) {
	.catalog {
		&__slider {
			width: 1140px;
		}
		&__slide {
			width: 263px;
		}
	}
}