body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
	
a {
 text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.section-title {
}

.button {
  padding: 12px 30px;
  background-color: #fd4f10;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 1px solid #fd4f10;
  border-radius: 4px;
  color: #fff;
  &:hover {
    transition: all 0.4s;
  }
}

.container {
  margin: 0 auto;
   /* border: 1px solid red; */
   padding: 0 0;
   width: 290px;
 @media (min-width: #{$tablet-width}) {
    width: 720px;
    /* width: 98%; */
 }
 @media (min-width: #{$desktop-width}) {
    width: 1140px;
    /* width: 98%; */
 }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path:inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}