body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.button {
  padding: 12px 30px;
  background-color: #fd4f10;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 1px solid #fd4f10;
  border-radius: 4px;
  color: #fff;
}

.button:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.section-title {
  position: relative;
  text-align: center;
  font-family: 'Lemon Tuesday', sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 44px;
  color: #32505a;
}

.section-title span {
  padding: 0 10px;
}

.section-title img {
  width: 74px;
  height: 27px;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 48px;
    line-height: 48px;
  }

  .section-title span {
    padding: 0 26px;
  }

  .section-title img {
    width: 86px;
    height: 32px;
  }
}

@media (min-width: 1170px) {
  .section-title {
    font-size: 60px;
    line-height: 60px;
  }

  .section-title span {
    padding: 0 40px;
  }

  .section-title img {
    width: 109px;
    height: 40px;
  }
}

.container {
  margin: 0 auto;
  border: 1px solid red;
  padding: 0 0;
  width: 290px;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    /* width: 98%; */
  }
}

@media (min-width: 1170px) {
  .container {
    width: 1140px;
    /* width: 98%; */
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
}

.header__top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  font-size: 0;
}

.header__user-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__user-cart {
  display: none;
}

.header__bottom-wrapper {
  min-height: 240px;
  background: #fff url("../img/header/header-bg.jpg") top center no-repeat;
  background-size: cover;
}

.header__slider {
  height: 240px;
}

.header__slide {
  position: relative;
}

.header__slide h3 {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  font-family: 'Lemon Tuesday', sans-serif;
  font-size: 49px;
  font-weight: 400;
  line-height: 60px;
  color: #84c604;
}

.header__slide-time {
  font-size: 12px;
  font-style: italic;
  color: #fff;
}

.header__slide-button {
  display: none;
}

.header__slide-discount {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 68px;
  height: 68px;
  top: 85px;
  right: 8px;
  background-image: -webkit-gradient(linear, left top, right top, from(#b71f24), to(#df2024));
  background-image: linear-gradient(90deg, #b71f24, #df2024);
  border-radius: 50%;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
}

.main-nav__list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 35px 25px;
  width: 200px;
  min-height: 240px;
  top: 0;
  left: -900px;
  background-color: #fff;
  z-index: 99;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-nav__list--active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 0;
}

.main-nav__contacts {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 35px 25px;
  width: 200px;
  min-height: 280px;
  top: 220px;
  left: -900px;
  font-size: 13px;
  background-color: #fff;
  z-index: 99;
}

.main-nav__contacts--active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 0;
}

.main-nav__contacts small {
  font-size: 8px;
  line-height: 10px;
}

.main-nav__toggle {
  position: absolute;
  cursor: pointer;
  outline: none;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: none;
}

.main-nav__toggle-wrapper {
  position: relative;
  width: 60px;
  height: 20px;
}

.main-nav__toggle span,
.main-nav__toggle span:before,
.main-nav__toggle span:after {
  display: block;
  height: 2px;
  width: 20px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -2px;
  background-color: #1fba0a;
}

.main-nav__toggle span:before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: '';
  margin-top: -7px;
}

.main-nav__toggle span:after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: '';
  margin-top: 5px;
}

.main-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 35px;
}

.main-nav__item:hover a {
  color: #1fba0a;
}

.main-nav__item a {
  color: #000;
}

.main-nav__phone {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.main-nav__button {
  margin-top: 30px;
  margin-bottom: 28px;
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid #84c604;
  color: #1fba0a;
}

.main-nav__button:hover {
  background-color: #84c604;
  color: #fff;
}

.main-nav__address,
.main-nav__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav__address p,
.main-nav__email p {
  padding-left: 10px;
  font-weight: 600;
}

.main-nav-close {
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  top: 20px;
  left: 80%;
  border: none;
  background-color: transparent;
}

.main-nav-close::before,
.main-nav-close::after {
  position: absolute;
  content: '';
  top: 50%;
  left: -2px;
  width: 22px;
  height: 1px;
  background-color: #b4b4b4;
}

.main-nav-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-nav-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#header-carousel .owl-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: -24px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 14px;
}

#header-carousel .owl-dot {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid #c2c2c2;
  border-radius: 50%;
}

#header-carousel .owl-dot.active {
  background-color: #1fba0a;
  border: 2px solid #1fba0a;
}

#header-carousel .owl-dot:hover {
  background-color: #c2c2c2;
  border: 2px solid #c2c2c2;
}

@media (min-width: 768px) {
  .header__top {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 88px;
  }

  .header__user-list {
    width: 78px;
  }

  .header__slider {
    height: 420px;
  }

  .header__slide h3 {
    margin-bottom: 28px;
    padding-top: 50px;
    font-size: 72px;
    line-height: 90px;
  }

  .header__slide-time {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .header__slide-button {
    display: inline-block;
    padding: 17px 43px;
    font-size: 16px;
    font-weight: 400;
  }

  .header__slide-button:hover {
    background-color: #fff;
    color: #fd4f10;
  }

  .header__slide-discount {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90px;
    height: 90px;
    top: 70px;
    right: 210px;
    font-size: 18px;
    line-height: 20px;
  }

  .main-nav__list {
    padding: 40px 60px;
    width: 260px;
    min-height: 300px;
    font-size: 14px;
    font-weight: 700;
  }

  .main-nav__item {
    height: 50px;
  }

  .main-nav__contacts {
    padding: 40px 60px;
    top: 320px;
    width: 260px;
    font-size: 14px;
    font-weight: 700;
  }

  #header-carousel .owl-dots {
    width: 96px;
    height: 18px;
    bottom: 33px;
    margin-left: -48px;
  }

  #header-carousel .owl-dot {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 1170px) {
  .header__top {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 150px;
  }

  .header__top::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 50px;
    background-color: #f2f2f2;
  }

  .header__top-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .header__user-list {
    -webkit-box-align: space-around;
    -ms-flex-align: space-around;
    align-items: space-around;
    width: 260px;
    font-size: 14px;
    font-weight: 600;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  .header__user-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 130px;
  }

  .header__user-item:hover a {
    color: #1fba0a;
  }

  .header__user-item a {
    text-transform: uppercase;
    color: #000;
  }

  .header__user-img {
    position: relative;
    padding-right: 10px;
  }

  .header__user-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 11px;
    height: 11px;
    left: 16px;
    top: -4px;
    font-size: 8px;
    line-height: 8px;
    color: #fff;
    background-color: #fd4f10;
    border-radius: 2px;
  }

  .header__slider {
    height: 675px;
  }

  .header__slide {
    padding-left: 80px;
  }

  .header__slide h3 {
    margin-bottom: 50px;
    padding-top: 125px;
    font-size: 110px;
    line-height: 110px;
  }

  .header__slide-time {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 60px;
  }

  .header__slide-button {
    padding: 17px 70px;
  }

  .header__slide-button:hover {
    background-color: #fff;
    font-weight: 600;
    color: #fd4f10;
  }

  .header__slide-discount {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 140px;
    height: 140px;
    top: 120px;
    right: 310px;
    font-size: 28px;
    line-height: 36px;
  }

  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .main-nav__toggle,
  .main-nav-close {
    display: none;
  }

  .main-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: static;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 750px;
    min-height: 50px;
  }

  .main-nav__item {
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 600;
  }

  .main-nav__item:hover {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #84c604;
  }

  .main-nav__item:hover a {
    color: #fff;
  }

  .main-nav__item a {
    color: #000;
  }

  .main-nav__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: static;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    min-width: 900px;
    min-height: 50px;
    font-size: 13px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .main-nav__phone {
    padding-right: 20px;
    line-height: 16px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .main-nav__address {
    padding-left: 40px;
    padding-right: 100px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .main-nav__email {
    padding-right: 40px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .main-nav__button {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  #header-carousel .owl-dots {
    bottom: 66px;
  }

  #header-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 53px;
    height: 53px;
    background: url("../img/header/slider-arrow.png") center no-repeat;
  }

  #header-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 53px;
    height: 53px;
    background: url("../img/header/slider-arrow.png") center no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  #header-carousel .owl-nav button.owl-prev:hover,
  #header-carousel .owl-nav button.owl-next:hover {
    border-radius: 50%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
}

.catalog {
  padding-bottom: 90px;
}

.catalog__slider {
  width: 290px;
}

.catalog__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px auto;
  width: 228px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 19px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 8px 19px rgba(0, 0, 0, 0.18);
}

.catalog__slide-bonus {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 42px;
  height: 42px;
  right: 16px;
  top: 16px;
  border-radius: 50%;
  background-color: #e24d3c;
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.39);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.39);
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

.catalog__slide-bonus img {
  width: 20px !important;
  height: 26px;
}

.catalog__slide-name {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__slide-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 20px;
  width: 170px;
  height: 16px;
}

.catalog__slide-info p {
  margin: 0;
  padding: 0 6px;
  height: 15px;
  font-size: 12px;
  line-height: 14px;
  border-right: 1px solid #000;
}

.catalog__slide-info p:last-of-type {
  border: none;
}

.catalog__slide-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  width: 195px;
}

.catalog__slide-price {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__slide-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 65px;
}

.catalog__slide-select-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #8d8d8d;
  border-radius: 50%;
  font-size: 12px;
  line-height: 12px;
  color: #8d8d8d;
}

.catalog__slide-select p {
  font-size: 13px;
}

.catalog__slide-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.catalog__slide-button p {
  margin: 0;
  margin-right: 25px;
}

.catalog__slide-button span {
  display: inline-block;
  width: 22px;
  height: 20px;
  background: url("../img/icons/shopping-cart-white.png") center no-repeat;
}

.catalog__slide-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 195px;
}

.catalog__slide-extra label {
  font-size: 12px;
}

.catalog__slide-extra input {
  padding: 5px 20px 5px 5px;
  width: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.catalog__slide-extra-button {
  width: 19px;
  height: 19px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fd4f10;
  color: #fff;
}

.catalog__slide-extra select {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 15px;
  border: none;
  border-radius: 4px;
}

.catalog__set-title {
  margin-bottom: 24px;
  padding-top: 40px;
}

.catalog__roll-title {
  padding-top: 20px;
}

.catalog__pizza-title {
  padding-top: 20px;
}

.catalog__pizza-title span {
  padding: 0;
}

.catalog__wok-slider {
  height: 520px;
}

.catalog__wok-slide .catalog__slide-cost {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .catalog__slider {
    width: 720px;
  }

  .catalog__slide {
    width: 220px;
  }

  .catalog__roll-title {
    padding-top: 55px;
  }

  .catalog__pizza-title {
    padding-top: 55px;
  }

  .catalog__wok-title {
    padding-top: 55px;
  }

  .owl-carousel .owl-dots {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: -50px;
    left: 50%;
    margin-left: -65px;
    width: 130px;
    height: 10px;
  }

  .owl-carousel .owl-dot {
    width: 8px;
    height: 8px;
    background-color: #b3b3b3 !important;
    border: 2px solid #b3b3b3;
    border-radius: 50%;
  }

  .owl-carousel .owl-dot.active {
    background-color: #1fba0a;
    border: 2px solid #1fba0a;
  }

  .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    bottom: -54px;
    left: 50%;
    margin-left: -130px;
    width: 27px;
    height: 20px;
    background: url("../img/icons/catalog-arrow.jpg") center no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    bottom: -54px;
    left: 50%;
    margin-left: 103px;
    width: 27px;
    height: 20px;
    background: url("../img/icons/catalog-arrow.jpg") center no-repeat;
  }
}

@media (min-width: 1170px) {
  .catalog__slider {
    width: 1140px;
  }

  .catalog__slide {
    width: 263px;
  }
}

.actions {
  background: url("../img/actions/actions-bg.jpg") top center no-repeat;
  min-height: 610px;
}

.actions__buttons {
  padding-top: 45px;
}

.actions__button {
  cursor: pointer;
  margin-right: 55px;
  background-color: transparent;
  border: transparent;
  font-size: 17px;
  color: #999;
}

.actions__button--active {
  color: #fd4f10;
}

.actions__slide-newtag {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 16px;
  left: 1px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  width: 60px;
  height: 30px;
  background-color: #1fba0a;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.actions__slide-newtag:before {
  position: absolute;
  content: '';
  top: -1;
  left: -29px;
  width: 0;
  height: 0;
  border-bottom: 30px solid #1fba0a;
  border-left: 30px solid transparent;
}

.actions__slide-newtag:after {
  position: absolute;
  content: '';
  top: 0;
  right: -29px;
  width: 0;
  height: 0;
  border-bottom: 30px solid #1fba0a;
  border-right: 30px solid transparent;
}

@media (min-width: 768px) {
  .actions {
    min-height: 690px;
  }

  .actions__buttons {
    padding-top: 60px;
  }

  .actions__button {
    font-size: 18px;
    font-weight: 600;
  }
}

@media (min-width: 1170px) {
  .actions {
    min-height: 740px;
  }
}

.features__title img {
  display: none;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.features__item-img {
  padding-top: 40px;
  padding-bottom: 25px;
}

.features__item-text {
  width: 200px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: #4d4d4d;
}

.features__item--extra {
  display: none;
}

.features__button {
  display: block;
  margin-bottom: 25px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fd4f10;
  color: #fd4f10;
}

@media (min-width: 768px) {
  .features__title img {
    display: inline-block;
  }

  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .features__item {
    margin-bottom: 10px;
  }

  .features__item--extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .features__button {
    display: none;
  }
}

.reviews__title img {
  display: none;
}

.reviews__slider {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .reviews__title img {
    display: inline-block;
  }

  .reviews__slider {
    margin-bottom: 80px;
  }
}

@media (min-width: 1170px) {
  .reviews__slider {
    margin-bottom: 110px;
  }
}

.feedback {
  background: #161326 url("../img/feedback/bg-mobile.jpg") top center no-repeat;
  color: #fff;
}

.feedback__title {
  margin-top: 16px;
  margin-bottom: 34px;
  text-align: left;
  color: #fff;
}

.feedback__subtitle {
  margin: 0;
  padding-top: 50px;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feedback__form input {
  margin-bottom: 20px;
  padding-left: 15px;
  width: 272px;
  height: 36px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.feedback__form input::-webkit-input-placeholder {
  color: #fff;
}

.feedback__form input:-ms-input-placeholder {
  color: #fff;
}

.feedback__form input::-ms-input-placeholder {
  color: #fff;
}

.feedback__form input::placeholder {
  color: #fff;
}

.feedback__form input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
}

.feedback__button {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 286px;
}

.feedback p {
  margin-bottom: 36px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  .feedback {
    background: #161326 url("../img/feedback/bg-tablet.jpg") top center no-repeat;
  }

  .feedback__subtitle {
    padding-top: 70px;
  }

  .feedback__title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 54px;
    line-height: 54px;
  }

  .feedback__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .feedback__form input {
    width: 205px;
  }

  .feedback__button {
    padding-top: 14px;
    padding-bottom: 14px;
    width: 220px;
  }

  .feedback p {
    margin-bottom: 70px;
  }
}

@media (min-width: 1170px) {
  .feedback {
    background: #161326 url("../img/feedback/bg-desktop.jpg") top center no-repeat;
  }

  .feedback__wrapper {
    width: 770px;
    margin-left: auto;
  }

  .feedback__form input {
    width: 240px;
  }

  .feedback__button {
    width: 190px;
  }
}